* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.reveal {
    opacity: 0;
    transform: translateY(90px);
    transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1), opacity 1.2s;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
.reveal-header {
    opacity: 0;
    transform: translateY(10px);
    transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1), opacity 1.2s;
}

.reveal-header.active {
    opacity: 1;
    transform: translateY(0);
}